body{
  @apply bg-bodyBg bg-no-repeat bg-cover text-white font-rubik;
}
/*====Vision==========*/
.btn-primary{
  @apply bg-gradient-to-r from-grLeft to-grRight text-25 px-8 py-4 text-black font-bold font-roboto inline-block mt-4 rounded-10;
}
.btn-size{
  @apply text-20 px-8 py-2 mt-0;
}

/* ankit css */
body{
  @apply box-border;
}
.header-logo-part img{
  @apply w-20
}
.header_navigation li{
  @apply px-4
}
.header_button{
  @apply px-5
}
.header_button a{
  @apply px-5 py-3 bg-black text-white font-medium rounded-md inline-block	
}
.borderWhite5{
  border-color:#ffffff6f;
}
/* ankit css end */


/*===== mithu =======*/

.why-choose.w-full::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -106px;
  background-image: url('/src/Images/yellocircle.png');
  background-size: cover;
  height: 76px;
  width: 76px;
}
